<article>
    <h1>Nueva Contrase침a 游댐</h1>
    {{#if error }}
        <p class="error__message">{{error}}</p>
    {{/if}}

    <form action="/api/sessions/change-password?token={{token}}" method="post" class="form__reset__password">
        <p>Ingrese su contrase침a.</p><br>
        <div class="wrapp-input">
            <span class="icon-eye"><i class="fas fa-eye-slash"></i> </span>
            <input type="password" name="newPassword" id="password" placeholder="Nueva Contrase침a">
        </div>
        <div class="wrapp-input">
            <span class="icon-eye"><i class="fas fa-eye-slash"></i> </span>
            <input type="password" name="repeatNewPassword" id="password" placeholder="Repita nueva Contrase침a">
        </div><br>
        <button type="submit" class="reset__button">Enviar</button>
        <p class="link__password">Ir a <a href="/">Login</a></p>
    </form>
</article>
