<h1>Chat de Cayena Almacén Orgánico y Natural</h1>

<form id="formMessage">
  <input type="text" name="mail" id="mailBox" placeholder="Ingresa tu correo."><br><br>
  <input type="text" name="message" id="messageBox" placeholder="Deja un mensaje." required></br><br>
  <button type="submit">Enviar</button>
</form>

<br>
<label for=""><h2>Mensajes:</h2></label>
<ul id="messageLogs">
 
</ul> 


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>