<div>
  <h1 class="errors">An error ocurred!</h1>
</div>
<div>
   <p class="errors__message">{{error}}</p>
</div>

<div class="errors__button">
  <button onclick="location.href='javascript:window.history.back();'" class="errors__button__btn">Volver</button><br>
  <button onclick="location.href='/'">Ir a Login</button><br>
</div>