<article>
    <h1>Login de Usuario</h1>
    {{#if error }}
        <p>{{error}}</p>
    {{/if}}

    <form action="/api/sessions/login" method="post" class="form__login">
        <input type="email" name="email" id="correo" placeholder="Correo"><br> 
        <input type="password" name="password" id="password" placeholder="Contraseña"><br>
        <p class="link__password"><a href="/reset-password">Olvidé mi contraseña</a></p>
        <p class="link__register"><a href="/register">Quiero registrarme</a></p><br>
        <button type="submit" class="login__button">Ingresar</button>
    </form>
</article>
