<h1>Bienvenido a Cayena Almacén Orgánico y Natural</h1>

<article class="profile">
    <p >Nombre: {{first_name}}</p>
    <p>Apellido: {{last_name}}</p>
    <p>Correo: {{email}}</p>
    <p>Edad: {{age}}</p> 
</article>

<p class="logout__button"><a href="/api/sessions/logout" role="button">Logout</a></p>
<p class="products__button"><a href="/products" role="button">Ver nuestros productos</a></p>