<article>
    <h1>Resetear Contraseña</h1>
    {{#if error }}
        <p class="error__message">{{error}}</p>
    {{/if}}

    <form action="/api/sessions/reset-password" method="post" class="form__reset__password">
        <input type="email" name="email" id="correo" placeholder="Correo"><br> 
        <input type="password" name="password" id="password" placeholder="Contraseña"><br>
        <p class="link__password">Ir a <a href="/login">Login</a></p>
        <button type="submit" class="reset__button">Enviar</button>
    </form>
</article>