<div>
  <h1 class="messages">Estimado, {{this.name}}</h1>
</div>
<div>
  <p class="messages__message">Agradecemos su compra! El ticket fue enviado a su casilla de correo.</p>
</div>
<div class="messages__button">
  <button onclick="location.href='/products/marketplace'">Ir a Compras</button><br>
</div>