/* *******aqui hago un reseteo CSS****** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }
  
/* *******aqui hago un reseteo tamaño de fuente****** */
html {
    font-size: 62.5%; 
} 
    
body {
    background-color: greenyellow;
    min-height: 100vh;
    display: flex;
    justify-content: center;
} 

h1 {
    margin: 2rem;
    font-size: 4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h2,p {
    font-size: 2rem;
}

.error__message{
    text-align: center;
    font-weight: bold;
}

/*** Formulario Login ***/
.form__login {
   text-align: center;
   max-width: 40rem;
   width: 95%;
}

.link__password, .link__register {
    font-size: 2rem;
    margin: 1rem;
    display: inline-block;
}

.login__button {
    margin: 1rem;
    font-size: 2rem;
}

.wrapp-input {
    position: relative;
    width: 100%;
    min-height: 5rem;
    margin-bottom: 1rem;
}

.wrapp-input input {
    font-size: 2rem;
    width: 100%;
    height: 5rem;
    padding: 1rem 3rem 1rem 2rem;
    border-radius: .5rem;
}

.icon-eye {
    font-size: 1.5rem;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: .4s ease all;
}

.icon-eye:hover {
    color: blue;
}

/* Login por Terceros */

.login__span {
    font-size: 2rem;
    font-weight: bold;
}

.registerExternal {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 1rem;
}

.registerExternal, .iconsRegister {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.registerExternal .iconsRegister .iconRegister {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.registerExternal .iconsRegister .iconRegister svg {
    transition: 0.2s ease-in-out;
    filter: grayscale(100%);
}

.registerExternal .iconsRegister .iconRegister svg:hover {
    transform: scale(1.05);
    filter: grayscale(0%);
}

/*** Formulario Registro ***/
.form__register {
    text-align: center;
    max-width: 40rem;
    width: 95%;
}
 
.link__login {
     font-size: 2rem;
     margin: 2rem;
     display: inline-block;
}
 
.register__button {
    margin: 1rem;
    font-size: 2rem;
}

/*** Profile ***/
.profile {
    max-width: 40rem;
    width: 95%;
}

.profile p {
    font-weight: bold;
    font-size: 2rem;
    margin: 1rem;
}

.logout__button, .products__button{
    font-size: 2rem;
    margin: 1rem;
    display: inline-block;
}


/*** Formulario Reset password ***/
.form__reset__password {
    text-align: center;
}

.form__reset__password p {
    font-size: 2rem;
}

.reset__button {
    margin: 1rem;
    font-size: 2rem;
}


/*** Formulario CHAT ***/
#formMessage {
    margin-left: 2rem;
}

.contactForm ul li {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-left: 4rem;
}

.contactForm button {
    display: flex;  
    font-size: 2rem;
    margin: 1rem auto;
    text-align: center;
    padding: 1rem 1rem;
    border-radius: .5rem;
}

.contactForm p {
    font-size: 2rem;
    text-align: center;
}