/* *******RESET CSS****** */
* {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    box-sizing: border-box; 
  }
  
/* *******SETEO TAMAÑO DE FUENTE****** */
html {
    font-size: 62.5%; 
} 
/* ******** ESTILOS GENERALES ******* */    
body {
    background-color: greenyellow;
    min-height: 100vh;
} 

h1 {
    margin: 2rem;
    font-size: 4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h2,p {
    font-size: 2rem;
}

.errors__message,
.messages__message{
    text-align: center;
    font-weight: bold;
}

.errors__button button,
.messages__button button{
    background-color: rgb(140, 255, 0);
    margin: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    letter-spacing: .3rem;
    border-radius: 1rem;
    font-family: "Georgia";
    font-weight: bold;
}

.errors__button__btn:hover,
.messages__button button:hover {
    background-color: rgb(140, 255, 0);
    margin: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    letter-spacing: .3rem;
    border-radius: 1rem;
    font-family: "Georgia";
    font-weight: bold;
}

/*** LOGIN PAGE - FORMULARIO LOGIN ***/
.login__page {
    padding-top: 2rem;
    justify-content: center;
}

.form__login {
   max-width: 40rem;
   width: 95%;
}

.link__password, .link__register {
    font-size: 2rem;
    margin: 1rem;
    display: inline-block; 
}

.login__button {
    background-color: rgb(140, 255, 0);
    margin: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    letter-spacing: .3rem;
    border-radius: 1rem;
    font-family: "Georgia";
    font-weight: bold;
}

.login__button:hover {
    background-color: rgb(0, 255, 102);
    transform: scale(1.2);
    transition: .4s ease all;
}

.wrapp-input {
    width: 100%;
    min-height: 5rem;
    margin-bottom: 1rem;
    position: relative;
}

.wrapp-input input {
    text-align: left;
    font-size: 2rem;
    width: 100%;
    height: 5rem;
    padding: 1rem 3rem 1rem 2rem;
    border-radius: .5rem;
}

.icon-eye {
    font-size: 1.5rem;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;
    transition: .4s ease all;
}

.icon-eye:hover {
    color: blue;
}

/* LOGIN POR TERCEROS */

.login__span {
    font-size: 2rem;
    font-weight: bold;
}

.registerExternal {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.iconsRegister {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.registerExternal .iconsRegister .iconRegister {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.registerExternal .iconsRegister .iconRegister svg {
    transition: 0.2s ease-in-out;
    filter: grayscale(100%);
}

.registerExternal .iconsRegister .iconRegister svg:hover {
    transform: scale(1.2);
    filter: grayscale(0%);
}

/* **** FORMULARIO REGISTRO **** */
.form__register {
    text-align: center;
    max-width: 40rem;
    width: 95%;
}
 
.link__login {
     font-size: 2rem;
     margin: 2rem;
     display: inline-block;
}
 
.register__button {
    background-color: rgb(140, 255, 0);
    margin: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    letter-spacing: .3rem;
    border-radius: 1rem;
    font-family: "Georgia";
    font-weight: bold;
}

.register__button:hover {
    background-color: rgb(0, 255, 102);
    transform: scale(1.2);
    transition: .4s ease all;
}

/* **** PROFILE PAGE **** */
.profile {
    max-width: 40rem;
    width: 95%;
    margin: 0 auto;
    padding: 2rem;
    border: .1rem solid #031f02;
    background-color: #5cc645;
    box-shadow: 0 .4rem .6rem rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profile p {
    text-align: left;
    font-weight: bold;
    font-size: 2rem;
    margin: 1rem;
}

.profile__buttons__1, 
.profile__buttons__2 {
    display: flex;
    flex-direction: row;
    max-width: 55%;
    align-items: center;
    margin-top: 2rem;
    justify-content: center;
}

.profile__buttons__1 button,
.profile__buttons__2 button {
    background-color: rgb(140, 255, 0);
    margin: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    letter-spacing: .3rem;
    border-radius: 1rem;
    font-family: "Georgia";
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.profile__buttons__1 button:hover,
.profile__buttons__2 button:hover {
    background-color: rgb(0, 255, 102);
    transform: scale(1.2);
    transition: .4s ease all;
}

/* **** FORMULARIO RESET PASSWORD **** */
.form__reset__password {
    text-align: center;
}

.form__reset__password p {
    font-size: 2rem;
}

.reset__button {
    margin: 1rem;
    font-size: 2rem;
}


/* **** CHAT **** */
#formMessage {
    margin-left: 2rem;
}

.contactForm ul li {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-left: 4rem;
}

.contactForm button {
    display: flex;  
    font-size: 2rem;
    margin: 1rem auto;
    text-align: center;
    padding: 1rem 1rem;
    border-radius: .5rem;
}

.contactForm p {
    font-size: 2rem;
    text-align: center;
}

/* **** USERS PAGE **** */
.users__dashboard {
    width: 95%;
    border-collapse: collapse;
    margin-bottom: 2rem;
}

.table__header {
    background-color: #77ea13;
}

.table__header th {
    font-weight: bold;
    font-size: 2rem;
}

.table__body tr {
    font-size: 1.5rem;
    font-weight: bold;
}
  
.users__dashboard th,
.users__dashboard td {
    padding: 1rem;
    text-align: center;
    border: .3rem solid #0b0c01;
}

.updateRole__button,
.delete__button,
.users__button button{
    background-color: rgb(140, 255, 0);
    color: black;
    margin: 1rem;
    padding: 1rem 1.2rem;
    border-radius: .4rem;
    cursor: pointer;
    font-size: 1.5rem;
    letter-spacing: .3rem;
    border-radius: 1rem;
    font-family: "Georgia";
    font-weight: bold;
}

.updateRole__button:hover,
.delete__button:hover,
.users__button button:hover {
    background-color: rgb(0, 255, 102);
    transform: scale(1.2);
    transition: .4s ease all;
}

/* Estilos para el select */
select {
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    cursor: pointer;
}
  
/* Estilos para los option dentro del select */
select option {
    font-size: 1.4rem;
    color: #333;
}

/* Estilo cuando el select está enfocado */
select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 .3rem rgba(0, 123, 255, 0.2);
}

/* Estilo cuando se pasa el mouse sobre el select */
select:hover {
    border-color: #66afe9;
}

/**** MARKETPLACE ****/
/* Estilos para el contenedor de productos */
.product__container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}
  
/* Estilos para la tarjeta de producto */
.product__card {
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}
  
.product__card img {
    max-width: 100%;
    max-height: 20rem;
    margin-bottom: 10px;
}

.product__card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.product__card p {
    margin-bottom: 8px;
}

.add__to__cart__button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.add__to__cart__button,
.delete__product__button {
    margin-right: 8px;
}
  
.add__to__cart__button:hover,
.delete__product__button:hover {
    background-color: #0056b3;
}
  
/* **** PRODUCTS PAGE **** */
.products__dashboard {
    width: 95%;
    border-collapse: collapse;
    margin-bottom: 2rem;
}
.products__dashboard th,
.products__dashboard td {
    padding: 1rem;
    text-align: center;
    border: .3rem solid #0b0c01;
}

.products__button {
    background-color: rgb(140, 255, 0);
    color: black;
    margin: 1rem;
    padding: 1rem 1.2rem;
    border-radius: .4rem;
    cursor: pointer;
    font-size: 1.5rem;
    letter-spacing: .3rem;
    border-radius: 1rem;
    font-family: "Georgia";
    font-weight: bold;
}

.products__button:hover {
    background-color: rgb(0, 255, 102);
    transform: scale(1.2);
    transition: .4s ease all;
}

.prev__next__btn {
    background-color: rgb(140, 255, 0);
    color: black;
    margin: .5rem;
    padding: 1rem 1rem;
    border-radius: .4rem;
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: .3rem;
    border-radius: 1rem;
    font-family: "Georgia";
    font-weight: bold;
}