/* *******aqui hago un reseteo CSS****** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }
  
/* *******aqui hago un reseteo tamaño de fuente****** */
html {
    font-size: 62.5%; 
} 
    
body {
    background-color: greenyellow;
} 

h1 {
    margin: 2rem;
    font-size: 4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h2,p {
    font-size: 1.5rem;
}

.error__message{
    text-align: center;
    font-weight: bold;
}

/*** Formulario Login ***/
.form__login {
   text-align: center;
}

#correo, #password {
    font-size: 2rem;
    margin: 0.5rem;
}

.link__password, .link__register {
    font-size: 2rem;
    margin: 2rem;
    display: inline-block;
}

.login__button {
    margin: 1rem;
    font-size: 2rem;
}

/* Login por Terceros */

.login__span {
    font-size: 2rem;
    font-weight: bold;
}

.registerExternal {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 1rem;
}

.registerExternal, .iconsRegister {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.registerExternal .iconsRegister .iconRegister {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.registerExternal .iconsRegister .iconRegister svg {
    transition: 0.2s ease-in-out;
    filter: grayscale(100%);
}

.registerExternal .iconsRegister .iconRegister svg:hover {
    transform: scale(1.05);
    filter: grayscale(0%);
}

/*** Formulario Registro ***/
.form__register {
    text-align: center;
}
 
.form__register input {
    font-size: 2rem;
    margin: 0.5rem;
    display: block; 
    margin: 1rem auto;
}
 
.link__login {
     font-size: 2rem;
     margin: 2rem;
     display: inline-block;
}
 
.register__button {
    margin: 1rem;
    font-size: 2rem;
}

/*** Profile ***/
.profile p {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    margin: 1rem;
}

.logout__button, .products__button{
    margin: 1rem;
    font-size: 2rem;
    text-align: center;
}


/*** Formulario Reset password ***/
.form__reset__password {
    text-align: center;
}